*{
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: linear-gradient(60deg,cyan,lightgreen) 
  }

  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  

  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  .pp{
    width: 100%;
    height: 58rem;
    background-size: cover;
}

.ff {
  text-decoration: none;
  background: -webkit-linear-gradient(60deg,cyan,lightgreen);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nn{
  height: 2rem;
  width: 2rem;
}
.navbar-nav {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
#nl{
  width: 180px;
  height: 50px;
}
.navbar-nav a{
  text-decoration: none;
  padding: 10px;
}
.card-img-top{
  height: 18rem;
}
@media (max-width: 952px) {
  .navbar-nav {
    text-align: left; 
  }
  .navbar-collapse{
    display: grid;
    transition: linear;
  }
  .navbar-toggler {
    margin-left: auto; 
  }
}


body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

.light-theme {
  background-color: #f8f9fa;
  color: #000000;
}
.light-theme .neon-container {
  position: relative;
  overflow: hidden;
  background: #f8f9fa;
}
.light-theme a {
  text-decoration: none;
  color: black  !important;
}
.light-theme .ff{
  -webkit-text-fill-color: #000000;
}
.light-theme hr {
  border-top: 1px solid #111 !important;
  background-color: none;
}

/* Dark Theme */
.dark-theme {
  background-color: #121212;
  color: #ffffff;
}

.dark-theme a {
  text-decoration: none;
  color: white;
}

.dark-theme hr {
  border-top: 1px solid lightgray;
}
.dark-theme a.nav-link{
  color: white;
}
.dark-theme a:hover{
  transition: .5s linear;
}
.dark-theme .neon-container {
  position: relative;
  overflow: hidden;
  background: #121212;
}
.navbar-light.bg-light {
  background-color: #ffffff !important;
}

.navbar-dark.bg-dark {
  background-color: #333333 !important;
}

.theme-toggler {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 34px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 25px;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: transparent; 
}

input:checked + .slider:before {
  transform: translateX(26px);
}
.navbar-blur {
  backdrop-filter: blur(10px); 
  background-color: rgba(0, 0, 0, 0.4); 
}
.navbar-toggler{
  width: 20px;
  height: 20px;
  position: relative;
  transition: .5s ease-in-out;
  box-shadow: none !important;
  border: none !important;
  outline: none !important;
}

.navbar-toggler span{
  margin: 0;
  padding: 0;
}

.toggler-icon{
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #90ee90;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.middle-bar{
  margin-top: 0px;
}

.top-bar{
  margin-top: 0px;
  transform: rotate(135deg);
}

.middle-bar{
  opacity: 0;
  filter: alpha(opacity=0);
}
.bottom-bar{
  margin-top: 0px;
  transform: rotate(-135deg);
}

.collapsed .top-bar{
  margin-top: -10px;
  transform: rotate(0deg);
}
.collapsed .middle-bar{
  opacity: 1;
  filter: alpha(opacity=100);
}

.collapsed .bottom-bar{
  margin-top: 10px;
  transform: rotate(0deg);
}

.collapsed .toggler-icon{
  background:linear-gradient(263deg,#0ff,#90ee90);
}
.nav-link:hover {
  text-decoration: none;
  background: -webkit-linear-gradient(60deg,cyan,lightgreen);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: .2s linear;
}
.nav-link a:active {
  text-decoration: none;
  background: -webkit-linear-gradient(60deg,cyan,lightgreen);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 768px) {
  .hanm2 h2 {
    font-size: 2rem; 
  }

  .hanm2 p {
    font-size: 1.4rem; 
  }

  .hanm2 span.text-reveal {
    display: block; 
  }
}

/* For left card */
.card-left {
  background: linear-gradient(135deg, #f06, #ff9a9e); 
  border-radius: 10px; 
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.card-right {
  background: linear-gradient(135deg, #6a11cb, #2575fc); 
  border-radius: 10px; 
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}
/* skill */
.skill-container {
  padding: 50px 0;
  border-radius: 15px;
}

.skill {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.icon {
  width: 4rem;
  height: 4rem;
  font-size: 4rem; 
  color: #6c757d;
  transition: transform 0.3s ease, color 0.3s ease;
}

.icon:hover {
  transform: scale(1.2);
  color: lightgreen;
}


/* Custom button style */
.custom-btn {
  background: linear-gradient(135deg, #90ee90, #00bcd4); 
  color: black !important;
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  text-align: center;
  text-decoration: none;
  border-radius: 30px; /* Rounded corners */
  transition: all 0.3s ease;
}

.neon-container {
  position: relative;
  overflow: hidden;
  background: #121212;
}

.neon-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(
    circle at var(--mouse-x, 50%) var(--mouse-y, 50%),
    rgba(58, 255, 206, 0.6),
    transparent 50%
  );
  mix-blend-mode: screen;
  pointer-events: none;
  z-index: 0;
  transition: 0.1s ease-out;
}

.neon-container > * {
  position: relative;
  z-index: 1; 
  color: 111; 
  text-shadow: 0 0 5p
}
